doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 New blog notification 
        p new blog in category #{category} by #{postedBy}
        a(href = "/blogs/"+ blogId)
            button click to view