doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 Newsletter subscription 
        p you have successfully subscribed to our newsletter and will recieve updates when new blogs are posted 
        p click 
            a(href="/newsletter/unsubscribe") here 
            | to unsubscribe 