doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 password reset token
        p click the button below to complete your password reset. Ignore this message if you did not request a password request.
        a(href= '/' + token)
            button reset password